@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background: #0f172a;
  color: #03070a;
}.test-tailwind {
  color: red;
  font-size: 50px;
}
